// 기본 셋팅
$body-base-font: "pretendard", arial, sans-serif, Arial, dotum, "돋움";
$hyundai-font: "hyundai", arial, sans-serif, Arial, dotum, "돋움";
$body-font-color: #000;
$base-font-size: 18px;
$line-height: 1.5;

// base color
$primary: #2546cd;
$dark: #222;
$warning: #ff9582;
$slightly: #888;
$lightSlightly: #999;
$danger: #e0012b;
$hyndai: #004c87;
$white: #ffffff;

// point color
$blue: #a0afc1;

// 미디어쿼리 사이즈
$tb-l: 1320px;
$tb-s: 1100px;
$mo-l: 1140px;
$mo-s: 360px;

// 이미지 url
$baseUrl: "../images/";

// 공통레이아웃 사이즈
$layoutSize: 1440px;
