@font-face {
  font-family: 'Hyundai';
  font-style: light;
  font-weight: 300;
  src: url('../fonts/HyundaiSansHeadKROTFLight.woff') format('woff'), url('../fonts/HyundaiSansHeadKROTFLight.otf') format('openType');
}
@font-face {
  font-family: 'Hyundai';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/HyundaiSansHeadKROTFRegular.woff') format('woff'), url('../fonts/HyundaiSansHeadKROTFRegular.otf') format('openType');
}
@font-face {
  font-family: 'Hyundai';
  font-style: medium;
  font-weight: 500;
  src: url('../fonts/Pretendard-Medium.woff') format('woff'), url('../fonts/Pretendard-Medium.otf') format('openType');
}
@font-face {
  font-family: 'Hyundai';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/HyundaiSansHeadKROTFBold.woff') format('woff'), url('../fonts/HyundaiSansHeadKROTFBold.otf') format('openType');
}
